---
import Layout from "../layouts/Layout.astro";
import Definition from "../components/Definition.astro";
import InlineMath from "../components/InlineMath.astro";
import DisplayMath from "../components/DisplayMath.astro";
import Para from "../components/Para.astro";
import Gather from "../components/Gather.astro";
import Align from "../components/Align.astro";
import Remark from "../components/Remark.astro";
import Proof from "../components/Proof.astro";
import Proposition from "../components/Proposition.astro";

import Title from "../components/structure/Title.astro";
import { reset } from "../components/structure/section_counter";
reset();
import Section from "../components/structure/Section.astro";
import Subsection from "../components/structure/Subsection.astro";

var counter = 1;
function getAndIncrement() {
  return counter++;
}
---

<Layout title="Welcome to Astro.">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-16 my-8">
    <Title title="Welcome to Astro." />

    <p>
      Here we will demonstrate various <InlineMath str={String.raw`\LaTeX`} />
       features for which we have provided bindings.
    </p>

    <Section title="Math" />

    <Subsection title="Inline, display math" />

    <p>
      This is some inline math:
      <InlineMath str={String.raw` \sqrt{2} `} />
       and this is some display math:
      <DisplayMath str={String.raw` \sqrt{2} `} />
       (with some text after).
    </p>

    <Subsection title="Math environments" />

     This is a gather environment:
    <Gather str={String.raw`a+b \\ c+d`} />

     This is an align environment:
    <Align str={String.raw`a+&b \\ c&+d`} />

    <Section title="Environments" />

    <Subsection title="Paragraph" />

    <Para num={getAndIncrement()}>
      The goal is to understand a function by knowing how it varies with each
      variable. The partial derivatives are measuring rate of change along the
      coordinate axes <InlineMath str={String.raw` e _ j `} /> . We can
      generalize the above definition to an arbitrary direction (vector!) <InlineMath
        str={String.raw` v `}
      /> :
    </Para>

    <Subsection title="Definition" />

    <Definition num={getAndIncrement()}>
      Consider a function <InlineMath
        str={String.raw` f:U \subset \mathbb{ R }^n \to \mathbb{ R } `}
      /> , where <InlineMath str={String.raw` U \subset \mathbb{ R }^n `} /> is
      open. Let <InlineMath str={String.raw` a \in  U `} /> . For <InlineMath
        str={String.raw` j=1,  \dots, n `}
      /> , define
      <DisplayMath
        str={String.raw`\frac{\partial  f }{\partial  x _ j }  (a) = D _ jf(a) =  \lim _{ t \to  0 }\frac{ f(a+te _ j)-f(a) }{ t } `}
      />
       provided this limit exists.
    </Definition>

    <Subsection title="Remark" />

    <Remark num={getAndIncrement()}>
      So <InlineMath str={String.raw` D _ vf(a) `} /> is not merely the
      instantaneous rate of change by an observer at <InlineMath
        str={String.raw` a `}
      /> in the direction of <InlineMath str={String.raw` v `} /> , but perhaps
      the instantaneous rate of change of an observer at <InlineMath
        str={String.raw` a `}
      /> moving with velocity <InlineMath str={String.raw` v `} /> (not only the
      direction of the observer matters, but also their speed).
    </Remark>

    <Subsection title="Proposition" />

    <Proposition num={getAndIncrement()}>
      <InlineMath str={String.raw` D _{ cv } f(a) = cD _ vf(a) `} /> .
    </Proposition>

    <Subsection title="Proof" />

    <Proof>
      <Align
        str={String.raw` D _{ cv } f(a) =&  \lim _{ t \to  0 }\frac{ f(a+tv) - f(a) }{ t }  = c \lim _{ t \to  0 }\frac{ f(a+tv) - f(a) }{ ct }  \\  =& c \lim _{ s \to  0 }\frac{ f(a+sv) - f(a) }{ s }  = c D _ vf(a).
	`}
      />
    </Proof>
  </div>
</Layout>
